@mixin PageSize() {
  width: 21cm;
  height: 29.67cm;
}

.rr-report {
  opacity: 0;
  transition: opacity 1s ease;
  * {
    -webkit-print-color-adjust: exact !important; /* Chrome, Safari */
    color-adjust: exact !important; /*Firefox*/
  }

  .rr-page {
    @include PageSize;
    background: white;
    box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
    margin: 10mm auto;
    overflow: hidden;
    position: relative;
    .rr-footer {
      position: absolute;
      bottom: 0;
      left: 0;
      width: calc(100% - 40px);
      .rr-page-number {
        position: absolute;
        right: 20px;
        top: 20px;
      }
    }
  }

  @media print {
    @page {
      // Print page settings
      size: A4 portrait;
      margin: 0;
      -webkit-print-color-adjust: exact;
      -webkit-print-color-adjust: exact !important;
    }
    body,
    .rr-page {
      margin: 0;
      box-shadow: 0;
    }
  }
}

@keyframes fadeInFadeOut {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.rr-loader {
  animation: 1s infinite alternate fadeInFadeOut;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rr-report-ready {
  opacity: 1;
}
