@mixin A3Size {
  width: 29.7cm;
  height: 42cm;
}
@mixin A4Size($multiply: 1) {
  width: 21cm * $multiply;
  height: 29.65cm * $multiply;
}
@mixin A5Size {
  width: 14.8cm;
  height: 21cm;
}

.page {
  @include A4Size;
  background: white;
  box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
  margin: 10mm auto;
  overflow: hidden;
}

@media print {
  .page {
    width: 21cm;
    height: 29.65cm;
  }
  body,
  .page {
    margin: 0;
    box-shadow: 0;
  }
}
