body {
  background-color: rgb(231, 231, 231);
}

@mixin center() {
  display: flex;
  justify-content: center;
  align-items: center;
}


.App {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .one {
    @include center;
    background-color: rgb(122, 122, 122);
    height: 400px;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .two {
    @include center;
    background-color: rgb(92, 92, 92);
    height: 600px;
    width: 100%;
  }
  .three {
    @include center;
    background-color: rgb(84, 87, 84);
    height: 650px;
    width: 100%;
  }
  .four {
    @include center;
    background-color: rgb(182, 182, 182);
    height: 800px;
    width: 100%;
  }
  .five {
    @include center;
    background-color: rgb(204, 204, 204);
    height: 100px;
    width: 100%;
  }
  .async-text {
    margin: 30px;
  }
  .custom-header {
    height: 40px;
    padding: 24px;
    font-weight: bold;
    color: white;
    background: black;
    display: flex;
    align-items: center;
    width: calc(inherit - 48px);
  }

  .custom-footer {
    height: 60px;
    padding: 24px;
    font-weight: bold;
    color: white;
    background: black;
    display: flex;
    align-items: center;
    width: calc(inherit - 48px);
  }
  .custom-top {
    height: 30px;
    padding: 10px;
    font-weight: bold;
    color: white;
    background: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(inherit - 20px);
  }
  .custom-bottom {
    height: 30px;
    padding: 10px;
    font-weight: bold;
    color: white;
    background: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(inherit - 20px);
  }
  .custom-loader {
    position: fixed;
    z-index: 1;
    color: blue;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
